@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

::selection {
  background-color: #abc9dc;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--vermelho);    
  border-radius: 10px;
  border: 2.5px solid rgb(130, 44, 44);
}

:root {
  --rosafraco: #ff86c8;
  --texto: #2b282a;
  --vermelho: rgb(255, 76, 76);
  --bg: #ffd4db;
  --azul: #30706f;
  --vermelhoescuro: rgb(130, 44, 44);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--texto);
  letter-spacing: -2px;
}

.enfase {
  color: var(--vermelho);
  font-weight: 900;
}

/* Geo */

.loc {
  background-color: #242424;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loc p {
  color: white;
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 15px;
  margin: 0;
  text-align: center;
}

#city {
  color: var(--vermelho);
  letter-spacing: -1px;
  font-weight: 900;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffd4db;
  padding-bottom: 10px;
}

header h1 {
  font-size: 45px;
  color: var(--texto);
  z-index: 1000;
  width: 900px;
  line-height: 45px;
  text-align: center;
  margin: 20px 0;
}

header p {
  font-size: 40px;
  line-height: 37px;
  margin: 0 0 30px 0;
  padding: 0 25px;
  text-align: center;
}

/* onda */

.waves {
  position: relative;
  left:0;
  right: 0;
  width: 100%;
  height: 100%;
  rotate: 180deg;
  z-index: -12;
  margin-top: -2px;
}

.wave-trás {
  animation: moveWave-trás 5s ease-in-out infinite alternate;
}

@keyframes moveWave-trás {
  from{
    transform: scalex(1.5) ; 
    translateX: 100px;
  }
}

.wave-meio{
  animation: moveWave-meio 3s  ease-in-out infinite alternate;
}

@keyframes moveWave-meio {
  from {
    transform: scalex(1.5);
  }
}

.wave-frente{
  animation: moveWave-frente 5s ease-in-out infinite alternate;
}

@keyframes moveWave-frente {
  from{
    transform: scalex(1.5);
    translateX: 1500px;
  }
}

/* Finalidade do produto */

.finalidade-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-finalidade {
  font-size: 40px;
  text-align: center;
  padding: 0 20px;
  line-height: 35px;
  margin-bottom: 10px;
}

.checks-e-device {
  display: flex;
  align-items: center;
}

.checks {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.checks > p {
  font-size: 1.2rem;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  line-height: 20px;
}

.checks > p > i {
  color: var(--vermelho);
  font-size: 2.5rem;
  margin-right: 8px;
}

.tresd-mockup {
  width: 200px;
  margin-left: 20px;
}

/* Confeitaria */

.confeitaria {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.confeitaria-bolo {
  width: 600px;
}

.confeitaria-textos {
  width: 400px;
}

.confeitaria-textos p {
  letter-spacing: -1px;
  margin-top: 10px;
}

.confeitaria-textos h1 {
  color: var(--vermelho);
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  margin-top: 14px;
}

/* Garantia */

.garantia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  background-color: rgb(183, 60, 60);
  width: 100%;
  padding-right: 20px;
  margin-top: 1;
  border-bottom: 5px solid rgb(130, 44, 44);
}

.garantia-textos p {
  letter-spacing: -1px !important;
  width: 400px;
  font-size: 20px;
  color: white;
}

.garantia-image {
  margin-top: -60px;
  margin-bottom: -60px;
  width: 350px;
}

/* Depoimentos */

.depoimentos-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.depoimentos-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.depoimento-heading {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--vermelho);
  color: transparent;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
}

.sub-depoimento-heading {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

.dp-card01 {
  background-color: var(--bg);
  width: 300px;
  height: 250px;
  padding: 50px 30px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  box-shadow: 0px 8px 14px -6px rgba(0,0,0,0.75);
  margin-left: 80px;
  display: flex;
}

.card-semmargin {
  margin-left: 40px; 
}

.dp-card01-texts {
  display: flex;
  align-items: center;
}

.dp-card01-texts p {
  letter-spacing: -1px;
}

.dp-card01-texts h1 {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -1px;
  color: var(--vermelhoescuro);
}

.dp-card01-infos {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}

.depoimento-foto {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin: 0 20px 0 -80px;
  margin-left: -80px;
  padding: 8px;
  background-color: var(--bg);
}

.depoimento-stars {
  margin-top: 10px;
  width: 60%;
  opacity: 20%;
}

.card-mg-bottom {
  margin-bottom: 50px;
}

/* Oferta */

.card-preco {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card-content {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 15px;
}

.card-oferta {
  padding: 15px;
  background-color: rgb(183, 60, 60);
  border-bottom: 4px solid rgb(130, 44, 44);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-oferta h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}

.card-texts {
  padding: 20px 20px 40px 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-texts h2 {
  font-size: 2rem;
}

.card-texts p {
  font-size: 1.4rem;
}

.card-contador {
  display: flex;
}

.contador-p {
  font-size: 2rem !important;
}

.contador-segundos, .contador-minutos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
}

.contador-segundos > span, .contador-minutos > span {
  font-size: 30px;
  line-height: 20px;
  color: rgb(83, 28, 28);
}

.contador-segundos {
  margin-left: 25px;
}

.card-texts > h1, .cinco-cinco {
  color: rgb(130, 44, 44);
}

.font-alta {
  font-size: 100px;
  letter-spacing: -2px;
  line-height: 90px;
  color: rgb(130, 44, 44);
}

.btn-card-preco {
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  font-size: 25px;
  background-color: rgb(214, 64, 64);
  padding: 10px 60px;
  border-radius: 80px;
  border-bottom: 5px solid rgb(130, 44, 44);
  color: white;
  width: 90%;
  margin: 15px 0;
}

.compra-segura {
  width: 80%;
  margin-top: 30px;
}

/* FAQ */

section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  font-weight: 800;
  color: rgb(255, 76, 76);
  line-height: 44px;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(255, 76, 76);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  color: rgb(255, 76, 76);
  font-size: 1.2rem;
  letter-spacing: -1px;
  font-weight: 800;
}

.question h3:hover {
  color: var(--texto);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  color: var(--texto);
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active {
  margin-bottom: 30px;
}

.faq.active svg {
  transform: rotate(180deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Footer btn */

.footer-btn {
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  background-color: rgb(214, 64, 64);
  padding: 10px 60px;
  border-radius: 80px;
  border-bottom: 5px solid rgb(130, 44, 44);
  color: white;
  width: 740px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px 70px;
  background-color: rgb(183, 60, 60);
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

footer p {
  color: white;
  letter-spacing: 0.5px;
}

.copyright-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright-footer p {
  font-size: 0.8rem;
}

.flex-footer {
  display: flex;
  align-items: center;
}

.projeto-confeitaria {
  width: 450px;
}

.projeto-confeitaria p {
  width: 100%;
  letter-spacing: -1px;
}

.termos-politicas {
  color: white;
}

.termos-politicas a {
  color: rgba(255, 255, 255, 0.648);
  text-decoration: none;
  letter-spacing: -1px;
}

.facebook-footer p {
  font-size: 0.6rem;
  width: 900px;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  letter-spacing: 0;
  margin-top: 40px;
}

.facebook-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /* Responsivo */

/* header responsivo */
@media (max-width: 960px) {
  .btn {
    width: 90%;
  }

  header h1 {
    width: 90%;
  }
}

@media (max-width: 620px) {
  .btn {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  header p {
    font-size: 30px;
    line-height: 30px;
  }

  header h1 {
    font-size: 35px;
    line-height: 35px;
  }
}

@media (max-width: 390px) {
  header p {
    font-size: 30px;
    line-height: 25px;
    padding: 0 15px;
  }

  .btn {
    font-size: 20px;
    padding: 0;
  }
}

@media (max-width: 320px) {
  header p {
    font-size: 25px;
    line-height: 23px;
  }
}

/* Mockup */

@media (max-width: 850px) {
  .checks-e-device {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .checks {
    align-items: center;
  }

  .tresd-mockup {
    margin: 0;
  }

  .checks > p:last-child {
    margin-bottom: 10px;
  }

  .confeitaria {
    margin-top: 0;
  }

  #retirar-br {
    display: none;
  }

  .checks > p {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .checks > p {
    width: 90%;
  }
}

@media (min-width: 960px) {
  .finalidade-produto {
    margin-top: -50px;
  }
}

/* Confeitaria */

@media (max-width: 953px) {
  .confeitaria {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .confeitaria-bolo {
    width: 500px;
  }

  .confeitaria-textos {
    width: 90%;
    align-items: center;
  }

  .confeitaria-textos {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .confeitaria-bolo {
    width: 100%;
  }
}

@media (min-width: 953px) {
  .confeitaria {
    margin-bottom: 50px;
  }
}

/* Garantia */

@media (max-width: 810px) {
  .garantia-image {
    width: 292px;
    margin: -34px 0;
  }

  .garantia {
    margin-top: 50px;
  }
}

@media (max-width: 720px) {
  .garantia {
    flex-direction: column;
    padding: 20px 0;
    margin-bottom: 50px;
    margin-top: 150px;
  }

  .garantia-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .garantia-image {
    width: 250px;
    margin: -180px 0 0 0;
  }
}

@media (max-width: 460px) {
  .garantia-textos p {
    width: 90%;
  }
}

@media (max-width: 268px) {
  .garantia-image {
    width: 100%;
  }
}

/* Depoimentos */

@media (max-width: 780px) {
  .depoimentos-container {
    flex-direction: column;
  }

  .card-semmargin {
    margin: 0;
  }

  .card-mg-top {
    margin: 0;
    margin-top: 20px;
  }
  
  .card-mg-top2 {
    margin-top: 10px;
  }

  .dp-card01 {
    margin-left: 50px;
  }

  .card-mg-bottom {
    margin-bottom: 50px !important;
  }
}

@media (max-width: 397px) {
  .dp-card01 {
    width: 80%;
  }

  .depoimento-heading {
    font-size: 40px !important;
    line-height: 15px;
  }
}

@media (max-width: 347px) {
  .depoimento-foto {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 300px) {
  .depoimento-heading {
    font-size: 35px !important;
  }

  .sub-depoimento-heading {
    font-size: 30px;
  }
}

@media (min-width: 780px) {
  .card-mg-bottom {
    margin-left: 0;
  }
}

/* Preço */

@media (max-width: 540px) {
  .card-texts {
    width: 400px;
  }
  
  .contador-p {
    font-size: 1.8rem !important;
  }
  
  .btn-card-preco {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .card-oferta h1 {
    font-size: 2rem !important;
  }

  .card-texts {
    width: 300px;
  }

  .contador-p {
    font-size: 1.4rem !important;
  }

  .btn-card-preco {
    font-size: 19px;
    padding: 10px 30px;
  }

  .compra-segura {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .card-oferta h1 {
    font-size: 1.7rem !important;
  }

  .card-texts {
    width: 250px;
  }

  .contador-p {
    font-size: 1.4rem !important;
  }

  .btn-card-preco {
    font-size: 17px;
    padding: 10px 10px;
  }

  .font-alta {
    font-size: 70px;
  }

  .contador-p {
    font-size: 1.2rem !important;
  }

  .contador-segundos, .contador-minutos {
    font-size: 1.2rem !important;
  }

  .card-texts h2 {
    font-size: 1.7rem;
  }
}

/* Perguntas Frequentes */

@media (max-width: 290px) {
  .title {
    font-size: 40px !important;
  }
}

/* Footer btn */

@media (max-width: 800px) {
  .footer-btn {
    width: 600px;
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .footer-btn {
    width: 450px;
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .footer-btn {
    width: 300px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 340px) {
  .footer-btn {
    width: 100%;
  }
}

/* Footer */

@media(max-width: 950px) {
  .facebook-footer p {
    width: 90%;
  }
}

@media(max-width: 890px) {
  footer {
    padding: 30px 0;
  }

  .flex-footer {
    flex-direction: column;
  }

  .projeto-confeitaria {
    width: 90%;
    text-align: center;
    margin-top: 20px;
  }

  .copyright-footer {
    margin-right: 0;
  }

  .copyright img {
    width: 150px;
  }

  .facebook-footer p {
    margin-top: 20px;
  }
}